<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    body,h1 {font-family: "Raleway", sans-serif}
    body, html {height: 100% ;background-color:black;}
    .bgimg {

        min-height: 100%;
        background-position: center;
        background-size: cover;
        back
}
  .big{
      font-size: 50px;
      margin-top: 100px;
  }

  .afspraak{
    border: 2px solid white;
    padding: 10px;

    }
    p{
    text-align: center;
    }
</style>



<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    {{ title }}
  </div>
  <div class="w3-display-middle">
    <h1 class="big w3-animate-top">Project Video & Audio Productions</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Komende 10 afspraken</p>
    {% for list in calenderlist["items"] %}
          <div class="users">
             <p>Evenementen zien van de {{ list["summary"]}} agenda</p>
          </div>
    {% end %}
       {% for item in items %}
       <div class="afspraak" style="background-color: {{item["color"]}};">
          <p>Start Afspraak: {{ item["start"]["dateTime"]}}</p>
          <p>Einde Afspraak: {{ item["end"]["dateTime"]}}</p>
          <p>Summary: {{ item["summary"]}}</p>
          <p>Beschrijving: {{ item["description"]}}</p>

       </div>
       {% end %}
  </div>
</div>

</body>
</html>




